<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/view-chamados.css">
    <title>Dashboard</title>
</head>
<body>
    <div class="container-main">

        <div class="container1">

            <img src="/assets/img/user-icon.jpeg" alt="">
            <h1 class="user-name-dashboard">Usuário</h1>
            <nav class="nav-dashboard">
                <li>
                    <a>Opção 1</a>
                </li>
                <li>
                    <a>Opção 2</a>
                </li>
                <li>
                    <a>Opção 3</a>
                </li>
            </nav>
            <button class="logoff">Sair</button>
        
        </div>

        <div class="container2">
            <p>Quadrado 2</p>

        </div>

        <div class="container3">
            <p>Quadrado 3</p>

        </div>
        
    </div>

    <script href="/assets/js/chamados.js"></script>
</body>
</html>